In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('2018 APMCM Problems/2018 APMCM Problem B/Annex Job market of A-City Market Demand Statistics/2015/09.xlsx')

In [3]:
data

,2015.09.01 -- 2015.09.30 Market Demand Statistics,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,S/N,Sector,Total demand (Pers.),Education requirements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Junior middle school,Senior middle school,Technical secondary school,Junior college,Bachelor's degree,Master's degree,Doctor's degree,MBA,Unlimited
2,1,Computer software,286,2,0,0,4,3,0,0,0,18
3,2,Sales management,2718,4,29,20,209,6,0,0,0,183
4,3,market/marketing,2032,3,20,12,94,8,0,0,0,108
5,4,Sales,9820,25,128,164,228,12,0,0,0,389
6,5,Computer hardware,24,0,0,0,4,2,0,0,0,2
7,6,Internet development and application,89,0,0,0,20,1,0,0,0,20
8,7,IT-Management,20,0,0,0,4,0,0,0,0,0
9,8,"IT-QM, technical support and more",11,0,0,0,5,0,0,0,0,2
10,9,Communications technology,2,0,0,0,0,2,0,0,0,0
11,10,Electronics/appliances/semiconductor/instrumen...,109,0,1,0,23,8,0,0,0,2
12,11,Finance/auditing/tax,258,2,13,4,82,2,0,0,0,47
13,12,Engineering/machinery/energy,309,0,0,1,40,21,0,0,0,17
14,13,HR,268,0,12,3,67,3,0,0,0,16
15,14,Senior management,59,0,0,0,0,4,0,0,0,13
16,15,Logistics/warehousing,271,2,13,2,7,2,0,0,0,63
17,16,Art/graphics/Animation design,152,0,0,4,26,3,0,0,0,19
18,17,Science & Technology,16,0,0,0,2,7,0,0,0,0
19,18,Legal profession/law,4,0,0,0,0,2,0,0,0,0
20,19,Education,248,0,1,0,24,12,0,0,0,23
21,20,Hospital/medical/care,184,0,0,1,21,0,0,0,0,3
22,21,Counsel/consulting,466,0,2,8,30,1,0,0,0,17
23,22,Transportation service,69,8,4,5,0,0,0,0,0,22
24,23,Translation,6,0,0,0,2,0,0,0,0,2
25,24,Construction/infrastructure/gardening,317,0,0,6,23,15,0,0,0,15
26,25,Office administration/logistics,705,3,8,14,143,10,0,0,0,118
27,26,Customer service and technical support,629,1,20,11,44,4,0,0,0,43
28,27,Securities/finance/investment,687,7,9,1,24,4,0,0,0,39
29,28,Insurance,360,0,7,2,25,4,0,0,0,6
30,29,Production/operation,96,1,0,4,32,5,0,0,0,3
31,30,QMS/safety/environmental protection,84,0,3,0,20,1,0,0,0,11
32,31,Technical work,552,16,16,10,8,5,0,0,0,41
33,32,Procurement,43,0,6,0,11,0,0,0,0,1
34,33,Trade,4,0,0,0,1,1,0,0,0,0
35,34,Biology/chemicals/pharmaceuticals/medical equi...,119,0,0,0,7,6,0,0,0,4
36,35,Advertising,10,0,0,0,2,3,0,0,0,0
37,36,PRs and news media,10,0,0,0,1,0,0,0,0,3
38,37,"Movies, TV and recreation",15,0,0,0,2,2,0,0,0,3
39,38,Literature/screenwriting/writing,18,0,0,0,4,0,0,0,0,7
40,39,Real property,1170,42,0,0,12,0,0,0,0,22
41,40,Property management,11,0,0,0,4,0,0,0,0,2
42,41,Restaurants & recreation,741,20,11,0,22,0,0,0,0,30
43,42,Hotels/tourism,197,9,0,0,3,0,0,0,0,29
44,43,Beauty and personal care,327,2,4,0,2,0,0,0,0,9
45,44,General merchandise/chains/retail,422,0,0,12,12,0,0,0,0,4
46,45,Security/housekeeping/other,57,0,2,0,0,0,0,0,0,11
47,46,Graduates,262,0,1,2,20,1,0,0,0,6
48,47,Other,384,1,4,2,74,1,0,0,0,52
49,"General Information: 410 employers, 3724 posts...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data.drop([0,1,49],axis=0,inplace=True)

In [19]:
data.columns = ['A','B','']

ValueError: Length mismatch: Expected axis has 12 elements, new values have 2 elements